.mint-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 1px; /* Specified height */
    background: var(--secondary-color); /* Grey background */
    outline: None; /* Remove outline */
    margin: 20px;
}

.mint-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--font-color);
    cursor: pointer;

    background-clip: padding-box;
    border: 4px solid rgba(0, 255, 0, 0.0%);
    transform: scale(4.8);
    box-shadow: inset 0 0 0 9px rgba(255,0,0,0%);

  }

  
  .mint-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--font-color);
    cursor: pointer;

    box-sizing: border-box;
    background-clip: padding-box;
    border: 4px solid rgba(0, 255, 0, 0.0%);
    transform: scale(4);
    box-shadow: inset 0 0 0 10px rgba(255,0,0,0%);
  }

  .show:hover + .list-categories {
    display: block;
  }

  .list-categories:hover {
    display: block;
  }
  
  .list-categories{
    position:absolute;
    display: none;
  }

  .standard-width {
    width: min(400px, 80vw)
  }
  .standard-height {
    height: min(400px, 80vw)
  }

.token-detail-width {
  width: 35vw;
  min-width: 300px;
}

.token-detail-height {
  height: 35vw;
  min-height: 300px;
}

.spinner {
  width: 1rem; /* Adjusts to 50% of the parent container */
  height: 1rem; /* Adjusts to 50% of the parent container */
  aspect-ratio: 1; /* Ensures it's always a circle */
  border: 1px solid #f3f3f3; /* Scales relative to the spinner size */
  border-top: 1px solid black; /* Blue border for animation effect */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-sizing: border-box; /* Ensures borders are included in width/height */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-element{
  margin-bottom: 4px;
}

.about-list-item {
  margin-bottom: 3px;
}

.simple-link{
  color: black;
}

.sliders {
  width: 20vw;
}


.no-border {
  border: 0px;
  padding: 0px;

}

.editor-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 2vh;
}

.editor-iframe-container {
  border: none;
  width: min(100%, 85vh);
  aspect-ratio: 1 / 1;
  margin-right: 2vw;
}

.editor-mint-form-container {
  width: max(25%, 250px);
  padding: 0;
}

@media (max-width: 1137px) {
  .editor-container {
    justify-content: center;
  }
}


@media (max-width: 1137px) {
  .editor-iframe-container {
    width: 95%;
      margin-right: 0vw;
  }
  .editor-mint-form-container {
    margin-top: 1vh;
    width: 95%;
  }
}

.full-size {
  width: 100%;
  height: 100%;
}


@media (max-width: 750px) {
  .terminal-nav {
      flex-direction: column;
  }
}

.main-div {
  padding-left: 10vw;
  padding-right: 10vw;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content{
  margin-top: 5vh;
}

@media (max-width: 750px) {
  .main-div {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .content{
  margin-top: 0;
}

}